* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font: 14px/1.8 Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
  background-color: #dedede;
  color: #333;
}

#wrap {
  max-width: 790px;
  margin: 0 auto;
  background-color: #ebecf0;
  padding: 65px 45px;
}

#downloadBtn {
  position: relative;
  float: right;
  top: -20px;
  width: 150px;
  height: 25px;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  background: linear-gradient(145deg, #fff, #e6e6e6);
  box-shadow: 4px 4px 8px #babecc, -4px -4px 8px #fff;
  background-color: #ccc;
  transition: all 0.2s ease-in-out;
}

#downloadBtn::before {
  content: "DOWNLOAD AS PDF";
  /* 字体渐变色 */
  background-image: linear-gradient(#17b195, #2888bb, #a5c2e3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#downloadBtn:hover {
  box-shadow: 2px 2px 4px #d9d9d9, -2px -2px 4px #fff;
}

#downloadBtn:active {
  box-shadow: inset 1px 1px 2px #ccc, inset -1px -1px 2px #fff;
}

#downloadBtn a {
  display: block;
  /* text-indent: -9999px; */
  opacity: 0;
  margin-top: -25px;
  overflow: hidden;
  width: 150px;
  height: 25px;
}

.lighter {
  color: #ccc;
}

section:after {
  content: "";
  display: block;
  clear: both;
}

section h2 {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 40%;
}

section h3 {
  font-size: 18px;
  font-weight: normal;
}

section h4 {
  font-size: 16px;
  font-weight: normal;
}

section .intro {
  color: #ccc;
}

section .detail {
  padding-bottom: 10px;
}

.personal .name {
  float: left;
  width: 65%;
}

.personal .contacts {
  float: left;
  width: 35%;
}

.personal .circle {
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  background-image: url(./pic.jpg);
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: #464646;
  border-radius: 50%;
}

.personal .name h1 {
  font-size: 44px;
  font-weight: normal;
  margin-left: 190px;
}

.personal .name p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 190px;
}

.personal .contacts dt {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 4px solid #333;
  margin-bottom: 10px;
}

.personal .contacts strong {
  margin-right: 10px;
}

.experience li,
.education li,
.schoolExp li,
.skills li {
  border-left: 2px solid #333;
  padding-left: 76px;
  position: relative;
}

.experience li:before,
.education li::before,
.schoolExp li::before,
.skills li:before {
  content: "";
  position: absolute;
  left: -5px;
  display: inline-block;
  top: 10px;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  background-color: #333;
}

.campusExp li {
  padding-left: 76px;
  position: relative;
}
